.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    display: block;
    margin: 0 auto;
    font-weight: 600;
}

.button:hover {
    transform: scale(1.1);
}

.semItem {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #bbb;
}